{% load i18n %}

<div class="card" style="border-color: #6a4e77 !important;">
    <div class="card-header" style="background-color: #6a4e77 !important; color: white;">
      {% trans "Comment faire une inscription académique?" %}
    </div>
    <div class="card-body">
      <h5 class="card-title">{% trans "Les étapes à suivre" %}</h5>
      <p class="card-text">
        <ul type="square">
            <li>{% trans "Etape 1 : Entrer son matricule" %}</li>
            <li>{% trans "Etape 2 : Choisir l'année académique" %}</li>
            <li>{% trans "Etape 3 : Choisir sa classe" %}</li>
            <li>{% trans "Etape 4 : Sélectionner ses UEs (<i>maintenir la touche CTRL, en bas à gauche du clavier, appuyée pour choisir plusieurs UEs</i>)" %}</li>
            <li>{% trans "Etape 5 : Cliquer sur le bouton <i>Enregistrer</i>" %}</li>
            <li>{% trans "Etape 6 : Au bas de la page, visualisez ou téléchargez votre fiche en cliquant sur le lien adéquat." %}</li>
        </ul>
      </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>